html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
 

  }

a {
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
https://media.istockphoto.com/photos/red-black-abstract-background-picture-id657982726?k=6&m=657982726&s=170667a&w=0&h=vLLskQGXusDKFu-H8B1Q5MRQ9fvJ0dlr-oh1G1_YBhE=